#compare .change-list-div .change-list .change-list-row, #compare .change-list-div .change-list-group, #compare .list-view-options .list-view, #compare .list-view-options, #compare #version-select .version-option-div, #compare #version-select .version-select-div, #legend .legendRole, #legend, #tools .tool-row .tool-row-items, #history .history-row .history-commit, .icons, #info .commit, .header, .flex-row {
  display: flex;
  flex-direction: row;
}
#compare .change-list-div .change-list .hide.change-list-row, #compare .change-list-div .hide.change-list-group, #compare .list-view-options .hide.list-view, #compare .hide.list-view-options, #compare #version-select .hide.version-option-div, #compare #version-select .hide.version-select-div, #legend .hide.legendRole, .hide#legend, #tools .tool-row .hide.tool-row-items, #history .history-row .hide.history-commit, .hide.icons, #info .hide.commit, .hide.header, .hide.flex-row {
  display: none;
}

#compare .list-view-options .list-view, #compare #version-select .version-option-div, #animation, #sourceCode {
  display: flex;
  align-items: center;
  justify-content: center;
}
#compare .list-view-options .hide.list-view, #compare #version-select .hide.version-option-div, .hide#animation, .hide#sourceCode {
  display: none;
}

.hide {
  display: none;
}

.material-icons {
  cursor: pointer;
  color: #465054;
}

.animate__animated.animate__slideInRight {
  --animate-duration: 0.5s;
}

body {
  font-family: "Inconsolata", monospace;
  margin: 0;
  padding: 0;
  color: #465054;
}

#cy {
  margin: 10px;
  height: calc(100vh - 120px);
  width: calc(100vw - 30px);
  border: 5px solid #465054;
  background-color: #f6f7f8;
}

.loader {
  border: 5px solid #F3F3F3;
  border-radius: 50%;
  border-top: 5px solid #465054;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header {
  min-height: 60px;
  height: 60px;
  justify-content: space-between;
}

#info {
  padding: 10px;
  padding-left: 15px;
  min-width: 400px;
}
#info .system {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}
#info .commit {
  padding: 5px 0px 5px 10px;
}
#info .commit a {
  font-weight: bold;
  text-decoration: none;
  color: #465054;
}
#info .commit a:active {
  color: #465054;
}
#info .commit div {
  margin-right: 5px;
}
#info .commit div.commit-id {
  margin-right: 10px;
}
#info .commit div.commit-id:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.6;
}
#info .commit img {
  width: 16px;
  opacity: 0.7;
}
#info .class-id {
  display: flex;
}
#info .class-id .package {
  padding: 2px;
  width: fit-content;
  background-color: #ECECEA;
}
#info .class-id .class {
  padding: 2px;
  padding-left: 10px;
}

.icons {
  margin: 10px;
  min-width: 350px;
  margin-top: 20px;
}
.icons .icon {
  padding: 10px;
  cursor: pointer;
}
.icons .icon:hover {
  opacity: 0.6;
}
.icons .icon:before {
  font-size: 12px;
  text-align: left;
  width: 50px;
  color: #465054;
  content: attr(data-text);
  opacity: 0;
  position: absolute;
  top: 15px;
}
.icons .icon:hover:before {
  opacity: 1;
}
.icons .icon.selected-icon {
  border-top: 5px solid #ECECEA;
}

.timeline {
  margin: 0 10px;
  width: calc(100vw - 800px);
  height: 100px;
  overflow-x: scroll;
  overflow-y: hidden;
}

#roles {
  display: flex;
  flex-direction: row;
  padding-left: 2px;
  padding-top: 20px;
}
#roles .role {
  margin-top: 20px;
  min-width: 16px;
  height: 16px;
  border-radius: 8px;
  margin-right: 2px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-align: center;
}
#roles .role .selected:before {
  font-size: 12px;
  width: 100px;
  font-weight: bold;
  color: #465054;
  content: attr(data-text);
  opacity: 1;
  position: absolute;
  left: -24px;
  top: -15px;
}
#roles .role.hover-no-effect:hover {
  transform: none;
}
#roles .role:hover {
  transform: translateY(-3px);
}
#roles .role.selected-version {
  min-width: 80px;
}
#roles .role .date:before {
  font-size: 12px;
  width: 100px;
  height: 50px;
  color: #465054;
  content: attr(data-date);
  opacity: 0;
  position: absolute;
  bottom: -25px;
  left: -10px;
  text-align: left;
}
#roles .role .date:hover:before {
  opacity: 1;
}
#roles .role .tooltip {
  position: relative;
}

.close {
  position: fixed;
  cursor: pointer;
  top: 80px;
  right: 30px;
  z-index: 9999;
}
.close:hover {
  opacity: 0.6;
}

.dialog {
  background-color: white;
  z-index: 999;
  position: absolute;
  top: 60px;
  right: 10px;
  width: 30vw;
  border: 5px solid #f6f7f8;
  height: calc(100vh - 120px);
  overflow: scroll;
}

#sourceCode {
  width: 40vw;
}
#sourceCode .code {
  height: 100%;
  width: 100%;
}
#sourceCode .code .CodeMirror {
  height: 100%;
  font-size: 16px;
}

#history {
  width: fit-content;
}
#history .history-header {
  padding: 10px;
  background-color: #f6f7f8;
}
#history .history-header .history-export {
  width: fit-content;
  padding: 10px;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}
#history .history-header .history-export:hover {
  text-decoration: none;
}
#history .history-row {
  padding: 20px;
  border: solid #f6f7f8;
  border-width: 5px 0;
  border-bottom-width: 0;
  font-size: 16px;
}
#history .history-row:last-child {
  border-bottom-width: 5px;
}
#history .history-row .package {
  padding: 2px;
  font-size: 14px;
  width: fit-content;
  background-color: #ECECEA;
}
#history .history-row .commit-date {
  padding-left: 8px;
  padding-top: 3px;
  font-size: 14px;
}
#history .history-row:hover {
  opacity: 0.6;
  cursor: pointer;
}
#history img {
  width: 20px;
  opacity: 0.7;
  padding-right: 5px;
}

#tools .tool-row {
  padding: 10px 10px 20px 10px;
}
#tools .tool-row .tool-title {
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 2px;
}
#tools .tool-row.class-level.disabled {
  opacity: 0.3;
}
#tools .tool-row.class-level.disabled .tool-row-items div:hover {
  cursor: default;
  opacity: 1;
}
#tools .tool-row .tool-row-items {
  font-size: 16px;
}
#tools .tool-row .tool-row-items.dep-level div {
  padding: 10px 20px;
}
#tools .tool-row .tool-row-items div {
  padding: 10px;
  margin-right: 10px;
}
#tools .tool-row .tool-row-items div.selected-option {
  background-color: #f6f7f8;
}
#tools .tool-row .tool-row-items div:hover {
  cursor: pointer;
  opacity: 0.6;
}
#tools .tool-row .tool-row-items.roles-filter .tool-role {
  width: 16px;
  height: 16px;
  border-radius: 32px;
}
#tools .tool-row .tool-row-items.roles-filter .tool-role[data-role=Controller] {
  background-color: #755194;
}
#tools .tool-row .tool-row-items.roles-filter .tool-role[data-role=Coordinator] {
  background-color: #539967;
}
#tools .tool-row .tool-row-items.roles-filter .tool-role[data-role="Information Holder"] {
  background-color: #BF3F6A;
}
#tools .tool-row .tool-row-items.roles-filter .tool-role[data-role=Interfacer] {
  background-color: #E9AB45;
}
#tools .tool-row .tool-row-items.roles-filter .tool-role[data-role="Service Provider"] {
  background-color: #4D82B0;
}
#tools .tool-row .tool-row-items.roles-filter .tool-role[data-role=Structurer] {
  background-color: #E6A1B2;
}
#tools .tool-row .tool-row-items.roles-filter .tool-role.filtered {
  opacity: 0.2;
}
#tools .tool-row .tool-row-items.roles-filter .tool-role.filtered:hover {
  opacity: 0.2;
}
#tools .tool-row .tool-row-items.roles-filter .tool-role:before {
  font-size: 10px;
  color: #465054;
  content: attr(data-role);
  position: relative;
  opacity: 0;
  top: 30px;
  left: -15px;
}
#tools .tool-row .tool-row-items.roles-filter .tool-role:hover:before {
  opacity: 1;
}
#tools .tool-row .tool-row-items.roles-filter .tool-role:hover {
  opacity: 1;
}

#legend {
  font-size: 12px;
  margin: 5px 10px;
  margin-left: 15px;
}
#legend .legendCircle {
  min-width: 16px;
  min-height: 16px;
  border-radius: 8px;
  margin-right: 5px;
}
#legend .legendRole {
  margin-right: 20px;
}

#animation #progressBar {
  width: 1%;
  height: 5px;
  background-color: #ECECEA;
}

.message {
  padding: 10px;
}

.chart-container .chart-div {
  width: 200px;
  height: 100px;
}
.chart-container .chart-div .ct-series-a .ct-line {
  stroke: #4D82B0;
  stroke-width: 5px;
}
.chart-container .chart-div .ct-series-a .ct-point {
  stroke: #4D82B0;
}
.chart-container .chart-div .ct-series-a .ct-label {
  fill: #465054;
  color: #465054;
  opacity: 0.6;
}

#compare {
  min-width: 500px;
  overflow-x: hidden;
  padding: 10px;
}
#compare #version-select {
  width: 300px;
}
#compare #version-select .version-select-div {
  cursor: pointer;
  padding: 10px;
  justify-content: space-between;
}
#compare #version-select .version-select-div .version-selected .version-option-div {
  padding: 0 10px;
  background-color: transparent;
  transform: scale(1.2);
}
#compare #version-select .version-select-icon {
  padding-left: 20px;
  transform: translateY(-3px);
}
#compare #version-select .version-options-list {
  position: fixed;
  top: 50px;
  width: 300px;
  background-color: white;
  max-height: calc(50vh);
  overflow: scroll;
}
#compare #version-select .version-option-div {
  cursor: pointer;
  background-color: #f6f7f8;
  padding: 10px;
  margin-bottom: 2px;
}
#compare #version-select .version-option-div img {
  width: 14px;
  opacity: 0.7;
  padding-right: 5px;
  transform: translateY(2px);
}
#compare #version-select .version-option-div .commit-id {
  font-weight: bold;
  font-size: 14px;
  padding-right: 10px;
}
#compare #version-select .version-option-div .commit-date {
  font-size: 12px;
}
#compare #version-select .version-option-div:hover {
  opacity: 0.6;
}
#compare .list-view-options {
  justify-content: space-between;
  border-bottom: 2px solid #f6f7f8;
}
#compare .list-view-options .list-view {
  cursor: pointer;
  min-width: 90px;
  text-align: center;
  padding: 10px;
}
#compare .list-view-options .list-view.selected-view {
  font-weight: bold;
  border-bottom: 6px solid #ECECEA;
  margin-bottom: -2px;
}
#compare .list-view-options .list-view .count {
  margin-left: 10px;
  padding: 2px 8px;
  border-radius: 10px;
  color: #465054;
  background-color: #ECECEA;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  height: 12px;
}
#compare .change-list-div .change-list-group {
  margin-top: 10px;
  padding: 10px;
  background-color: #f6f7f8;
  justify-content: space-between;
  cursor: pointer;
}
#compare .change-list-div .change-list .change-list-row {
  align-items: center;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 2px;
}
#compare .change-list-div .change-list .change-list-row:hover {
  background-color: #f6f7f8;
}
#compare .change-list-div .change-list .change-list-row .list-item-circle {
  min-width: 20px;
  min-height: 20px;
  border-radius: 10px;
}
#compare .change-list-div .change-list .change-list-row .list-item-package {
  background-color: #465054;
  min-width: 20px;
  min-height: 20px;
  margin-right: 5px;
}
#compare .change-list-div .change-list .change-list-row .list-item-text {
  padding-left: 10px;
  overflow: hidden;
}
#compare .change-list-div .change-list .change-list-row .list-item-text .list-item-package-text {
  font-size: 12px;
  padding: 2px;
  width: fit-content;
  background-color: #ECECEA;
}
#compare .change-list-div .change-list .change-list-row .list-item-text .list-item-class-text {
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
