$black: #465054;
$bg-color: hsla(208, 13%, 97%, 1);
$bg-color-dark: #ECECEA;
$controller-color: #755194;
$coordinator-color: #539967;
$information-holder-color: #BF3F6A;
$interfacer-color: #E9AB45;
$service-provider-color: #4D82B0;
$structurer-color: #E6A1B2;

%flex-row {
  display: flex;
  flex-direction: row;
  &.hide {
    display: none;
  }
}

%flex-column {
  display: flex;
  flex-direction: column;
  &.hide {
    display: none;
  }
}

%center {
  display: flex;
  align-items: center;
  justify-content: center;
  &.hide {
    display: none;
  }
}

.flex-row {
  @extend %flex-row;
}

.hide {
  display: none;
}

.material-icons {
  cursor: pointer;
  color: $black;
}

.animate__animated.animate__slideInRight {
  --animate-duration: 0.5s;
}

body {
  font-family: 'Inconsolata', monospace;
  margin: 0;
  padding: 0;
  color: $black;
  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    border: 1px solid $black;
    background-color: $black;
  }
}

#cy {
  margin: 10px;
  z-index: 99;
  height: calc(100vh - 150px);
  width: calc(100vw - 75px);
  border: 5px solid $black;
  background-color: $bg-color;
}

.loader {
  border: 5px solid #F3F3F3;
  border-radius: 50%;
  border-top: 5px solid $black;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.header {
  height: 90px;
}

#info {
  padding: 10px 15px 0px 10px;
  .system {
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
  }
  .commit {
    padding: 5px 0px 5px 10px;
    @extend %flex-row;
    a {
      font-weight: bold;
      text-decoration: none;
      color: $black;
      &:active {
        color: $black;
      }
    }
    div {
      margin-right: 5px;
      &.commit-id {
        margin-right: 10px;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
          opacity: 0.6;
        }
      }
    }
    img {
      width: 16px;
      opacity: 0.7;
    }
  }
  .class-id {
    visibility: hidden;
    @extend %flex-row;
    .package {
      padding: 2px;
      width: fit-content;
      background-color: $bg-color-dark;
    }
    .class {
      padding: 2px;
      padding-left: 10px;
    }
    &.show {
      visibility: visible;
    }
  }
}

.menu {
  position: fixed;
  top: 100px;
  right: 0;
  height: calc(100vh - 140px);
  overflow-x: hidden;
  overflow-y: scroll;
}

.icons {
  // min-width: 40px;
  @extend %center;
  @extend %flex-column;
  .icon {
    @extend %flex-column;
    @extend %center;
    padding: 10px 8px;
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
    .icon-text {
      font-size: 8px;
    }
  }
}

.timeline {
  margin: 0 10px;
  width: calc(100vw - 65px);
  height: 59px;
  overflow-x: scroll;
  overflow-y: hidden;
  #roles {
    display: flex;
    flex-direction: row;
    padding-left: 2px;
    .role {
      margin-top: 20px;
      min-width: 16px;
      min-height: 16px;
      border-radius: 8px;
      margin-right: 2px;
      font-size: 12px;
      font-weight: bold;
      color: white;
      text-align: center;
      cursor: pointer;
      &.role-package {
        border-radius: 0;
      }
      &.role-version {
        border-radius: 0;
        border: 2px solid $bg-color-dark;
        min-width: 14px;
        min-height: 14px;
      }
      .selected:before {
        font-size: 12px;
        width: 100px;
        font-weight: bold;
        color: $black;
        content: attr(data-text);
        opacity: 1;
        position: absolute;
        left: -24px;
        top: -13px;
      }
      &.hover-no-effect:hover {
        cursor: default;
        transform: none;
        .date:hover:before {
          transform: translateY(-3px);
        }
      }
      &:hover {
        transform: translateY(-3px);
      }
      &.selected-version {
        min-width: 80px;
      }
      .date {
        &:before {
          font-size: 10px;
          width: 60px;
          height: 50px;
          color: $black;
          content: attr(data-date);
          opacity: 0;
          position: absolute;
          bottom: -32px;
          left: -10px;
          text-align: left;
        }
        &:hover:before {
          opacity: 1;
        }
      }
      .tooltip {
        position: relative;
      }
    }
  }
}

.close {
  position: fixed;
  cursor: pointer;
  top: 20px;
  right: 20px;
  z-index: 9999;
  &:hover {
    opacity: 0.6;
  }
}

.dialog {
  overflow-y: scroll;
  background-color: white;
  z-index: 999;
  position: absolute;
  top: 0;
  right: 0;
  width: 30vw;
  border: 5px solid $bg-color;
  height: 90vh;
  .message {
    padding: 10px;
  }
  @media screen and (max-width: 768px) {
    right: 0;
    width: 50vw;
    .message {
      font-size: 12px;
    }
  }
  @media screen and (max-width: 998px) {
    width: 40vw;
  }
}

#sourceCode {
  width: 40vw;
  @extend %center;
  .code {
    height: 100%;
    width: 100%;
    .CodeMirror {
      height: 100%;
      font-size: 16px;
    }
  }
  @media screen and (max-width: 600px) {
    border: 0;
    width: 100vw;
    .code {
      .CodeMirror {
        font-size: 12px;
      }
    }
  }
}

#history {
  width: fit-content;
  .history-header {
    padding: 10px;
    background-color: $bg-color;
    .history-export {
      width: fit-content;
      padding: 10px;
      font-size: 12px;
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .history-row {
    padding: 20px;
    border: solid $bg-color;
    border-width: 5px 0;
    border-bottom-width: 0;
    font-size: 16px;
    &:last-child {
      border-bottom-width: 5px;
    }
    .history-commit {
      @extend %flex-row;
    }
    .package {
      padding: 2px;
      font-size: 14px;
      width: fit-content;
      background-color: $bg-color-dark;
    }
    .commit-date {
      padding-left: 8px;
      padding-top: 3px;
      font-size: 14px;
    }
    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }
  }
  img {
    width: 20px;
    opacity: 0.7;
    padding-right: 5px;
  }
}

#tools {
  padding: 20px;
  min-width: 300px;
  width: 300px;
  .tool-row {
    padding-bottom: 20px;
    .tool-title {
      text-transform: uppercase;
      font-size: 12px;
      margin-bottom: 2px;
    }
    &.class-level.disabled {
      opacity: 0.3;
      .tool-row-items {
        div {
          &:hover {
            cursor: default;
            opacity: 1;
          }
        }
      }
    }
    .tool-row-items {
      font-size: 16px;
      @extend %flex-row;
      &.dep-level {
        div {
          padding: 10px 20px;
        }
      }
      div {
        padding: 10px;
        margin-right: 10px;
        &.selected-option {
          background-color: $bg-color;
        }
        &:hover {
          cursor: pointer;
          opacity: 0.6;
        }
      }
      &.roles-filter {
        .tool-role {
          width: 16px;
          height: 16px;
          border-radius: 50%;
          &[data-role='Controller'] {
            background-color: $controller-color;
          }
          &[data-role='Coordinator'] {
            background-color: $coordinator-color;
          }
          &[data-role='Information Holder'] {
            background-color: $information-holder-color;
          }
          &[data-role='Interfacer'] {
            background-color: $interfacer-color;
          }
          &[data-role='Service Provider'] {
            background-color: $service-provider-color;
          }
          &[data-role='Structurer'] {
            background-color: $structurer-color;
          }
          &.filtered {
            // background-color: $bg-color-dark;
            opacity: 0.2;
            &:hover {
              opacity: 0.8;
            }
          }
          &:before {
            font-size: 10px;
            color: $black;
            content: attr(data-role);
            position: relative;
            opacity: 0;
            top: 30px;
            left: -15px;
          }
          &:hover:before {
            opacity: 1;
          }
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

#legend {
  width: calc(100vw - 75px);
  overflow-x: scroll;
  @extend %flex-row;
  font-size: 12px;
  margin: 5px 10px;
  margin-left: 15px;
  .legend-circle {
    min-width: 16px;
    width: 16px;
    min-height: 16px;
    height: 16px;
    border-radius: 8px;
    margin-right: 5px;
  }
  .legend-role {
    @extend %flex-row;
    margin-right: 20px;
  }
  @media screen and (max-width: 798px) {
    font-size: 10px;
    .legend-circle {
      min-width: 12px;
      width: 12px;
      min-height: 12px;
      height: 12px;
      border-radius: 24px;
      margin-right: 5px;
    }
    .legend-role {
      @extend %flex-row;
      margin-right: 10px;
    }
  }
}

.chart-container {
  .chart-div {
    width: 100%;
    .ct-series-a {
      .ct-line {
        stroke: $black;
        stroke-width: 2px;
      }
      .ct-point {
        stroke-width: 5px;
        stroke: $black;
      }
      .ct-label {
        padding: 5px;
        padding-bottom: 15px;
        font-size: 14px;
        fill: $black;
        color: $black;
        opacity: 0;
        &:hover {
          opacity: 1;
          cursor: pointer;
        }
      }
    }
  }
}

#compare {
  min-width: 500px;
  overflow-x: hidden;
  padding: 20px;
  font-size: 16px;
  @media screen and (max-width: 600px) {
    min-width: 0;
    width: calc(50vw);
    font-size: 12px;
    padding: 20px;
  }
  #version-select {
    width: 300px;
    @media screen and (max-width: 600px) {
      width: 250px;
    }
    .version-select-div {
      cursor: pointer;
      padding: 10px;
      @extend %flex-row;
      @extend %center;
      justify-content: space-between;
      .version-selected {
        .version-option-div {
          padding: 0 10px;
          background-color: transparent;
          transform: scale(1.2);
          @media screen and (max-width: 600px) {
            transform: none;
          }
        }
      }
    }
    .version-select-icon {
      padding-left: 20px;
    }
    .version-options-list {
      position: fixed;
      top: 60px;
      width: 300px;
      background-color: white;
      max-height: calc(50vh);
      overflow: scroll;
      @media screen and (max-width: 600px) {
        transform: none;
      }
      .version-option {
        @media screen and (max-width: 600px) {
          width: 250px;
        }
      }
    }
    .version-option-div {
      cursor: pointer;
      @extend %flex-row;
      @extend %center;
      background-color: $bg-color;
      padding: 10px;
      margin-bottom: 2px;
      img {
        width: 14px;
        opacity: 0.7;
        padding-right: 5px;
      }
      .commit-id {
        font-weight: bold;
        font-size: 14px;
        padding-right: 10px;
      }
      .commit-date {
        font-size: 12px;
      }
      &:hover {
        opacity: 0.6;
      }
    }
  }
  .list-view-options {
    @extend %flex-row;
    justify-content: space-between;
    border-bottom: 2px solid $bg-color;
    @media screen and (max-width: 600px) {
      overflow-y: hidden;
      overflow-x: scroll;
      .list-view {
        padding: 5px;
      }
    }
    .list-view {
      cursor: pointer;
      min-width: 90px;
      text-align: center;
      padding: 10px;
      @extend %flex-row;
      @extend %center;
      &.selected-view {
        font-weight: bold;
        border-bottom: 6px solid $bg-color-dark;
        margin-bottom: -2px;
      }
      .count {
        margin-left: 10px;
        padding: 2px 8px;
        border-radius: 10px;
        color: $black;
        background-color: $bg-color-dark;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        height: 12px; 
      }
    }
  }
  .change-list-div {
    .change-list-group {
      margin-top: 10px;
      @extend %flex-row;
      padding: 10px;
      background-color: $bg-color;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    }
    .change-list {
      .change-list-row {
        @extend %flex-row;
        align-items: center;
        padding: 10px;
        cursor: pointer;
        margin-bottom: 2px;
        &:hover {
          background-color: $bg-color;
        }
        .list-item-circle {
          min-width: 20px;
          min-height: 20px;
          border-radius: 10px;
        }
        .list-item-package {
          background-color: $black;
          min-width: 20px;
          min-height: 20px;
        }
        .list-item-text {
          padding-left: 10px;
          overflow: hidden;
          .list-item-package-text {
            font-size: 12px;
            padding: 2px;
            width: fit-content;
            background-color: $bg-color-dark;
          }
          .list-item-class-text {
            font-size: 14px;
          }
          @media screen and (max-width: 600px) {
            .list-item-package-text {
              font-size: 10px;
            }
            .list-item-class-text {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

#pattern {
  padding: 20px;
  .pattern-group {
    @extend %flex-row;
  }
  .pattern-count {
    @extend %flex-column;
    @extend %center;
    cursor: default;
    .pointer {
      @extend %center;
      border-radius: 50%;
      background-color: $bg-color-dark;
      height: 20px;
      width: 20px;
    }
    .divider {
      height: 50px;
      width: 5px;
      background-color: $bg-color-dark;
    }
    .arrow {
      width: 0; 
      height: 0; 
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid $bg-color-dark;
    }
    .pointer-group {
      @extend %flex-column;
      @extend %center;
    }
  }
  .pattern-role {
    padding: 20px;
    @extend %flex-row;
    justify-content: space-between;
  }
  .pattern-role-option {
    cursor: pointer;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    @media screen and (max-width: 798px) {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    &[data-role='Controller'] {
      background-color: $controller-color;
    }
    &[data-role='Coordinator'] {
      background-color: $coordinator-color;
    }
    &[data-role='Information Holder'] {
      background-color: $information-holder-color;
    }
    &[data-role='Interfacer'] {
      background-color: $interfacer-color;
    }
    &[data-role='Service Provider'] {
      background-color: $service-provider-color;
    }
    &[data-role='Structurer'] {
      background-color: $structurer-color;
    }
    &.removed {
      opacity: 0.2;
      &:hover {
        opacity: 0.8;
      }
    }
    &:before {
      font-size: 10px;
      color: $black;
      content: attr(data-role);
      position: relative;
      opacity: 0;
      top: 40px;
      @media screen and (max-width: 798px) {
        top: 30px;
      }
    }
    &:hover:before {
      opacity: 1;
    }
    &:hover {
      opacity: 1;
    }
  }
  .pattern-buttons {
    margin-top: 50px;
    @extend %flex-row;
    justify-content: space-between;
    .add-remove {
      @extend %center;
      .icon:first-child {
        margin-right: 20px;
      }
      .icon:hover {
        opacity: 0.6;
      }
    }
    .apply-cancel {
      @extend %flex-row;
      @extend %center;
      .cancel {
        font-size: 12px;
        text-decoration: underline;
        cursor: pointer;
        padding: 10px;
        margin-right: 10px;
        &:hover {
          text-decoration: none;
          opacity: 0.6;
        }
      }
      .button {
        padding: 10px;
        width: fit-content;
        cursor: pointer;
        font-size: 12px;
        border: 2px solid $black;
        box-shadow: 2px 2px;
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}

#animation {
  @extend %center;
  overflow: hidden;
  height: 50px;
  width: 150px;
  // position: absolute;
  // right: 55px;
  .splide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 200px;
    .splide__slide {
      width: 400px;
      height: auto;
      // padding: 20px;
    }
  }
  .splide__progress {
    padding: 10px;
    // padding: 10px 20px;
  }
  .animation-controls {
    @extend %flex-row;
    @extend %center;
    div {
      cursor: pointer;
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        opacity: 0.6;
      }
    }
  }
  .slide {
    display: none;
    .version {
      @extend %flex-row;
      .commit-icon img {
        width: 20px;
        opacity: 0.7;
        padding-right: 5px;
      }
      .commit-id {
        font-weight: bold;
      }
      .commit-date {
        padding-left: 8px;
        padding-top: 3px;
        font-size: 14px;
      }
    }
  }
}