#guide(class="hide dialog animate__animated animate__slideInRight")
  .swiper-container
    .swiper-wrapper
      - for(var i = 1; i < 24; i++) {
        .swiper-slide
          .guide-img
            img(src="images/guide/" + i + ".png")
      - }
    .swiper-pagination
    .swiper-button-prev
    .swiper-button-next