body {
    font-family: 'Inconsolata', monospace;
    margin: 0;
    padding: 0;
    color: #3b444d;
}
#cy {
    margin: 10px;
    height: calc(100vh - 170px);
    width: calc(100vw - 30px);
    /* width: calc(70vw - 30px); */
    border: 5px solid #3b444d;
    background-color: hsla(208, 13%, 97%, 1);
}
#options {
    height: 25px;
    padding: 12px 10px 0 10px;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
#options div {
    padding-right: 10px;
}
#filterOptions {
    display: flex;
    flex-direction: row;
}

/* .slider .irs--flat .irs-bar {
    background-color: #3b444d;
}
.slider .irs-single {
    background-color: #3b444d;
}
.slider .irs--flat .irs-handle>i:first-child {
    background-color: transparent;
}
.slider .irs--flat .irs-single:before {
     border-top-color: #3b444d;
}
.slider .irs--flat .irs-grid-pol.small {
    background-color: transparent;
} */

#info {
    height: 80px;
    width: 76vw;
    margin: 0 10px;
    padding: 0 20px;
}
#roles {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    min-height: 75px;
    padding-left: 2px;
    padding-top: 20px;
}
#roles div {
    margin-top: 20px;
    min-width: 16px;
    height: 16px;
    border-radius: 8px;
    margin-right: 2px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-align: center;
}
#roles div.selected-version {
    width: 80px;
}

.tooltip {
    position: relative;
}

.role .date:before {
    font-size: 12px;
    width: 100px;
    height: 50px;
    color: #3b444d;
    content: attr(data-date);
    opacity: 0;
    position: absolute;
    bottom: -25px;
    left: -10px;
    text-align: left;
} 

.role .date:hover:before {
    opacity: 1;
}

.role:hover {
    transform: translateY(-3px);
}

.role.hover-no-effect:hover {
    transform: none;
}

.role .selected:before {
    font-size: 12px;
    width: 100px;
    font-weight: bold;
    color: #3b444d;
    content: attr(data-text);
    opacity: 1;
    position: absolute;
    left: -24px;
    top: -15px;
} 

/* .role .currentIndicator:before {
    font-size: 12px;
    font-weight: bold;
    color: white;
    content: 'CURRENT';
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 5px;
} 

.role .compareIndicator:before {
    font-size: 12px;
    font-weight: bold;
    color: white;
    content: 'COMPARE';
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 5px;
}  */

/* .slider {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
} */
#legend {
    font-size: 12px;
    margin: 5px 10px;
}
.legendCircle {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin-right: 5px;
}
.legendRole {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

#options div.removeRightPadding {
    padding-right: 0px;
}

#changesDialogBox {
    position: absolute;
    top: 68px;
    right: 0;
    width: 28vw;
    height: calc(100vh - 170px);
    margin: 0 10px;
    overflow: auto;
}

.justity-space-between {
    justify-content: space-between;
}

#changesDialogBox button {
    border: none;
    text-decoration: underline;
    font-size: 15px;
    padding: 10px;
    margin-right: 10px;
    background-color: transparent;
    color: #a9b6c2;
}

#list #classList {
    overflow: scroll;
    padding: 10px; 
    max-width: 1000px;
}

#list #classList .listItem {
    display: flex;
    flex-direction: row;
    padding: 1px;
    min-width: 200px;
    width: max-content;
}

#list #classList .listItem .listItemCircle {
    min-width: 16px;
    height: 16px;
    border-radius: 8px;
    margin-right: 5px;
}

#list #classList .listItem .listItemPackage {
    background-color: #a9b6c2;
    min-width: 16px;
    height: 16px;
    margin-right: 5px;
}

#list #classList .listItem .listItemCircle.fromRoleCircle:after {
    font-size: 12px;
    width: 10px;
    height: 10px;
    color: #3b444d;
    content: '→';
    right: -15px;
    position: relative;
} 

.indicator {
    opacity: 0;
}