#legend .legendRole, #legend, #tools .tool-row .tool-row-items, .icons, #info .commit, .header, .flex-row {
  display: flex;
  flex-direction: row;
}

.hide {
  display: none;
}

body {
  font-family: "Inconsolata", monospace;
  margin: 0;
  padding: 0;
  color: #3b444d;
}

#cy {
  margin: 10px;
  height: calc(100vh - 120px);
  width: calc(100vw - 30px);
  border: 5px solid #3b444d;
  background-color: #f6f7f8;
}

#loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3b444d;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header {
  min-height: 60px;
  height: 60px;
  justify-content: space-between;
}

#info {
  padding: 10px;
  padding-left: 15px;
  min-width: 400px;
}
#info .system {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}
#info .commit {
  padding: 5px 0px 5px 10px;
}
#info .commit a {
  font-weight: bold;
  text-decoration: none;
  color: #3b444d;
}
#info .commit a:active {
  color: #3b444d;
}
#info .commit div {
  margin-right: 5px;
}
#info .commit div.commit-id {
  margin-right: 10px;
}
#info .commit div.commit-id:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.6;
}
#info .commit img {
  width: 16px;
  opacity: 0.7;
}
#info .class-id .package {
  padding: 2px;
  width: fit-content;
  background-color: #e2e6e9;
}
#info .class-id .class {
  padding: 2px;
  padding-left: 10px;
}

.icons {
  margin: 10px;
  min-width: 350px;
  margin-top: 20px;
}
.icons .icon {
  padding: 10px;
  cursor: pointer;
}
.icons .icon:hover {
  opacity: 0.6;
}
.icons .icon:before {
  font-size: 12px;
  text-align: left;
  width: 50px;
  color: #3b444d;
  content: attr(data-text);
  opacity: 0;
  position: absolute;
  top: 15px;
}
.icons .icon:hover:before {
  opacity: 1;
}

.timeline {
  margin: 0 10px;
  width: calc(100vw - 800px);
}

#roles {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-left: 2px;
  padding-top: 20px;
}
#roles .role {
  margin-top: 20px;
  min-width: 16px;
  height: 16px;
  border-radius: 8px;
  margin-right: 2px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-align: center;
}
#roles .role .selected:before {
  font-size: 12px;
  width: 100px;
  font-weight: bold;
  color: #3b444d;
  content: attr(data-text);
  opacity: 1;
  position: absolute;
  left: -24px;
  top: -15px;
}
#roles .role.hover-no-effect:hover {
  transform: none;
}
#roles .role:hover {
  transform: translateY(-3px);
}
#roles .role.selected-version {
  min-width: 80px;
}
#roles .role .date:before {
  font-size: 12px;
  width: 100px;
  height: 50px;
  color: #3b444d;
  content: attr(data-date);
  opacity: 0;
  position: absolute;
  bottom: -25px;
  left: -10px;
  text-align: left;
}
#roles .role .date:hover:before {
  opacity: 1;
}
#roles .role .tooltip {
  position: relative;
}

.dialog {
  background-color: white;
  z-index: 999;
  position: absolute;
  top: 60px;
  right: 10px;
  width: 50vw;
  border: 5px solid #f6f7f8;
  height: calc(100vh - 90px);
  overflow-y: scroll;
}
.dialog .close {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
  z-index: 9999;
}
.dialog .close:hover {
  opacity: 0.6;
}

#sourceCode {
  align-items: center;
  justify-content: center;
}
#sourceCode .code {
  height: 100%;
  width: 100%;
}
#sourceCode .code .CodeMirror {
  height: 100%;
  font-size: 16px;
}

#history {
  width: fit-content;
}
#history .history-title {
  padding: 20px;
  font-size: 30px;
  background-color: #f6f7f8;
}
#history .history-row {
  padding: 20px;
  border: solid #f6f7f8;
  border-width: 5px 0;
  font-size: 20px;
}
#history .history-row .package {
  padding: 2px;
  font-size: 18px;
  width: fit-content;
  background-color: #e2e6e9;
}
#history .history-row .commit-date {
  padding-left: 8px;
  padding-top: 3px;
  font-size: 15px;
}
#history .history-row:hover {
  opacity: 0.6;
  cursor: pointer;
}
#history img {
  width: 20px;
  padding-right: 10px;
}

#tools {
  width: 560px;
}
#tools .tool-row {
  padding: 20px 20px 30px 20px;
}
#tools .tool-row .tool-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 2px;
}
#tools .tool-row .tool-row-items {
  font-size: 30px;
}
#tools .tool-row .tool-row-items.dep-level div {
  padding: 20px 30px;
}
#tools .tool-row .tool-row-items div {
  padding: 20px;
  margin-right: 20px;
}
#tools .tool-row .tool-row-items div.selected-option {
  background-color: #f6f7f8;
}
#tools .tool-row .tool-row-items div:hover {
  cursor: pointer;
  opacity: 0.6;
}
#tools .tool-row .tool-row-items.roles-filter .tool-role {
  width: 20px;
  height: 20px;
  border-radius: 40px;
}
#tools .tool-row .tool-row-items.roles-filter .tool-role[data-role=Controller] {
  background-color: #755194;
}
#tools .tool-row .tool-row-items.roles-filter .tool-role[data-role=Coordinator] {
  background-color: #539967;
}
#tools .tool-row .tool-row-items.roles-filter .tool-role[data-role="Information Holder"] {
  background-color: #bf3f6a;
}
#tools .tool-row .tool-row-items.roles-filter .tool-role[data-role=Interfacer] {
  background-color: #E9AB45;
}
#tools .tool-row .tool-row-items.roles-filter .tool-role[data-role="Service Provider"] {
  background-color: #4d82b0;
}
#tools .tool-row .tool-row-items.roles-filter .tool-role[data-role=Structurer] {
  background-color: #e6a1b2;
}
#tools .tool-row .tool-row-items.roles-filter .tool-role.filtered {
  opacity: 0.2;
}
#tools .tool-row .tool-row-items.roles-filter .tool-role.filtered:hover {
  opacity: 0.2;
}
#tools .tool-row .tool-row-items.roles-filter .tool-role:before {
  font-size: 12px;
  color: #3b444d;
  content: attr(data-role);
  position: relative;
  opacity: 0;
  top: 30px;
  left: -15px;
}
#tools .tool-row .tool-row-items.roles-filter .tool-role:hover:before {
  opacity: 1;
}
#tools .tool-row .tool-row-items.roles-filter .tool-role:hover {
  opacity: 1;
}

#legend {
  font-size: 12px;
  margin: 5px 10px;
  margin-left: 15px;
}
#legend .legendCircle {
  min-width: 16px;
  min-height: 16px;
  border-radius: 8px;
  margin-right: 5px;
}
#legend .legendRole {
  margin-right: 20px;
}

/*# sourceMappingURL=style.css.map */
