#sourceCode(class="hide dialog animate__animated animate__slideInRight")
    div(class="close-code hide material-icons animate__animated animate__slideInRight") close
    div(class="code hide")
        textarea#editor
    #view.hide
    div(class="message not-found hide")