doctype html
html(lang="en")
  head
    title="Rologram"
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="Rologram", content="Software Evolution Visualisation with Role Stereotypes")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(src="bundle.js")
  body
    include _header.pug
    include _main.pug
    include _tools.pug
    include _history.pug
    include _compare.pug
    include _code.pug
    include _pattern.pug
    include _guide.pug