mixin addMenuIcon(text, name)
    .icon(data-text=text)
            .material-icons=name
            .icon-text=text
.menu
    div(class="icons animate__animated animate__slideInRight")
        +addMenuIcon("Tools", "tune")
        +addMenuIcon("Compare", "compare")
        +addMenuIcon("Pattern", "pattern")
        +addMenuIcon("Code", "code")
        +addMenuIcon("History", "restore")
        +addMenuIcon("Slider", "linear_scale")
        +addMenuIcon("Download", "download")
        +addMenuIcon("Guide", "help_outline")