mixin addRole(role)
    .tool-role(data-role=role)
mixin selectOption(name, text)
    .selected-option(data-option=name)=text
mixin addOption(name, text)
    div(data-option=name)=text
mixin addTitle(title)
    .tool-title=title
#tools(class="hide dialog animate__animated animate__slideInRight")
    .tool-row
        +addTitle("Layout")
        .tool-row-items
            +selectOption("klay", "Compact")
            +addOption("hierarchy", "Hierarchy")
    .tool-row
        +addTitle("Labels")
        div(class="tool-row-items label-visibility")
            +addOption("showLabels", "Shown")
            +selectOption("hideLabels", "Hidden")
    .tool-row
        +addTitle("Metrics")
        .tool-row-items
            +selectOption("rolesOnly", "Roles Only")
            +addOption("linesOfCode", "Lines of Code")
    .tool-row
        +addTitle("Filter Roles")
        div(class="tool-row-items roles-filter")
            +addRole("Controller")
            +addRole("Coordinator")
            +addRole("Information Holder")
            +addRole("Interfacer")
            +addRole("Service Provider")
            +addRole("Structurer")
    .tool-row
        +addTitle("Highlight Role Changed Classes")
        div(class="tool-row-items highlight-classes")
            +addOption("highlightOn", "On")
            +selectOption("highlightOff", "Off")
    div(class="tool-row class-level disabled")
        +addTitle("Dependency Type")
        div(class="tool-row-items dep-type")
            +selectOption("all", "All")
            +addOption("in", "In")
            +addOption("out", "Out")
    div(class="tool-row class-level disabled")
        +addTitle("Dependency Level")
        div(class="tool-row-items dep-level")
            +selectOption("1", "1")
            +addOption("2", "2")
            +addOption("3", "3")