#compare {
  overflow-x: hidden;
  font-size: 16px;
  min-width: 500px;
  @media screen and (max-width: 600px) {
    font-size: 12px;
  }
  .code-compare {
    position: absolute;
    top: 30px;
    right: 70px;
    @extend %button;
  }
  #version-select {
    padding: 20px;
    width: fit-content;
    .version-select-div {
      cursor: pointer;
      padding: 10px;
      @extend %flex-row;
      @extend %center;
      justify-content: space-between;
      .version-selected {
        .version-option-div {
          padding: 0 10px;
          background-color: transparent;
          transform: scale(1.2);
          @media screen and (max-width: 600px) {
            transform: none;
          }
        }
      }
    }
    .version-select-icon {
      padding-left: 20px;
    }
    .version-options-list {
      position: fixed;
      top: 60px;
      background-color: white;
      max-height: calc(50vh);
      overflow-y: auto;
      overflow-x: hidden;
      @media screen and (max-width: 600px) {
        transform: none;
      }
      .current-version-divider {
        height: 5px;
        background-color: $black;
      }
      .version-option, .current-version-divider {
        width: 250px;
        @media screen and (max-width: 600px) {
          width: 200px;
        }
      }
    }
    .version-option-div {
      cursor: pointer;
      @extend %flex-row;
      @extend %center;
      background-color: $bg-color;
      padding: 10px;
      margin-bottom: 2px;
      img {
        width: 14px;
        opacity: 0.7;
        padding-right: 5px;
      }
      .commit-id {
        font-weight: bold;
        font-size: 14px;
        padding-right: 10px;
      }
      .commit-date {
        font-size: 12px;
      }
      &:hover {
        background-color: white;
      }
    }
  }
  .list-view-options {
    padding: 0 20px;
    @extend %flex-row;
    justify-content: space-between;
    overflow-y: hidden;
    overflow-x: auto;
    @media screen and (max-width: 600px) {
      .list-view {
        padding: 5px;
      }
    }
    .list-view {
      cursor: pointer;
      min-width: 90px;
      text-align: center;
      padding: 10px;
      @extend %flex-row;
      @extend %center;
      &:hover {
        background-color: $bg-color;
      }
      &.selected-view {
        font-weight: bold;
        border-bottom: 6px solid $black;
        margin-bottom: -2px;
      }
      .count {
        margin-left: 10px;
        padding: 2px 8px;
        border-radius: 10px;
        color: $black;
        background-color: $bg-color-dark;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        height: 12px; 
      }
    }
  }
  .change-lists {
    padding: 0 20px 20px 20px;
  }
  .change-list-div {
    .change-list-group {
      margin-top: 10px;
      @extend %flex-row;
      padding: 10px;
      background-color: $bg-color;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    }
    .change-list {
      .change-list-row {
        @extend %flex-row;
        align-items: center;
        padding: 10px;
        cursor: pointer;
        margin-bottom: 2px;
        &:hover {
          background-color: $bg-color;
        }
        .list-item-circle {
          min-width: 20px;
          min-height: 20px;
          border-radius: 10px;
        }
        .list-item-package {
          background-color: $black;
          min-width: 20px;
          min-height: 20px;
        }
        .list-item-text {
          padding-left: 10px;
          overflow: hidden;
          .list-item-package-text {
            font-size: 12px;
            padding: 2px;
            width: fit-content;
            background-color: $bg-color-dark;
          }
          .list-item-class-text {
            font-size: 14px;
          }
          @media screen and (max-width: 600px) {
            .list-item-package-text {
              font-size: 10px;
            }
            .list-item-class-text {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}